.header {
    color: #fff;
    background: #EE6C4D;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.header-title {
    margin: 0;
    align-self: flex-end;
    background-color: transparent;
    padding: 6px 12px;
    color: #fff;
}